
textarea {
  width:50%;
  /* float: top; */
  min-height: 32em;
  min-width:40%;
  overflow: scroll;
  margin-left: 50px;
  display: inline-block;
  background: #f4f4f9;
  outline: none;
  font-family: Courier, sans-serif;
  font-size: 14px;
}

iframe {
  width:20%;
  bottom: 0;
  margin-left: 20px;
  height: 32em;
}

.tab-align{
  position: absolute;
  top:17px;
  left:40px;
}